article,aside,details,figcaption,figure,header,nav,section{/* display:block */}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}svg:not(:root){overflow:hidden}figure{margin:0}html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}input{outline:none;-webkit-appearance:none}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}
*{padding: 0; margin: 0}
a,a:focus{text-decoration: none}
.rs{margin:0;padding:0} h1.rs,h2.rs,h3.rs,h4.rs{font-size:100%;font-weight:bold}ul.rs{list-style:none} h1, h2, h3, h4{margin: 0; padding: 0}
.rsbs,.rsbs:after,.rsbs:before{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
img{border:none} a,input{outline:none} a{color:#00f} a,a:hover{text-decoration:none}
.fb{font-weight:bold}
li{list-style: none}ul{padding: 0;margin: 0;}
.pa{position:absolute}.pr{position:relative;}.px{position: fixed;}
.fl{float:left}.fr{float:right}
.tr{text-align:right}.tc{text-align:center}
.fixdm{width: 943px; margin: 0 auto; margin-top: 170px;}
.cl{clear: both} .z10 {z-index: 10;}


@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function vwm($target) {
  $vw-context: (1040 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@keyframes zoomIn{
  50%{transform: scale(0.75);}
  40%,60%{transform: scale(0.8);}
  30%,70%{transform: scale(0.85);}
  20%,80%{transform: scale(0.9);}
  10%,90%{transform: scale(0.95);}
  0%,100%{transform: scale(1);}
}
.zoomIn{
  animation: zoomIn 2s infinite linear;
  -o-animation: zoomIn 2s infinite linear;
  -webkit-animation: zoomIn 2s infinite linear;
  -moz-animation: zoomIn 2s infinite linear;
}
@keyframes zoomOut{
  50%{transform: scale(1.5);}
  40%,60%{transform: scale(1.4);}
  30%,70%{transform: scale(1.3);}
  20%,80%{transform: scale(1.2);}
  10%,90%{transform: scale(1.1);}
  0%,100%{transform: scale(1);}
}
.zoomOut{
  animation: zoomOut 2s infinite linear;
  -o-animation: zoomOut 2s infinite linear;
  -webkit-animation: zoomOut 2s infinite linear;
  -moz-animation: zoomOut 2s infinite linear;
}
@keyframes hoverZoomout{
  50%{transform: scale(1.125);}
  40%,60%{transform: scale(1.1);}
  30%,70%{transform: scale(1.075);}
  20%,80%{transform: scale(1.05);}
  10%,90%{transform: scale(1.025);}
  0%,100%{transform: scale(1);}
}
.hoverZoomout{
  &:hover{
    animation: hoverZoomout 1s infinite linear;
    -o-animation: hoverZoomout 1s infinite linear;
    -webkit-animation: hoverZoomout 1s infinite linear;
    -moz-animation: hoverZoomout 1s infinite linear;
  }
}
.hoverScale{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  &:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
}
::-webkit-scrollbar{
  width: 0;
}
%aProp{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
%disFlex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.imgFull{
  width: 100%;
  height: auto;
}
.close-menu{
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  @media (min-width: 640px) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.open-menu{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
$color: #231f20;
$hoverColor: #009345;
$background: #009247;
.popup{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.87);
  display: none;
  z-index: 9;
  .popup-content{
    width: vw(800px);
    height: vw(500px);
    left: 50%;
    top: 50%;
    margin: vw(-250px) 0 0 vw(-400px);
    background: #ffffff;
    border: vw(3px) solid $hoverColor;
    .close-popup{
      background: #ffffff;
      border: thin solid $hoverColor;
      color: $color;
      font-weight: bold;
      text-align: center;
      width: vw(30px);
      height: vw(30px);
      line-height: vw(30px);
      font-size: vw(20px);
      top: vw(-33px);
      right: vw(-3px);
    }
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 768px) {
    .popup-content{
      width: 70vw;
      height: 42vw;
      margin: -21vw 0 0 -35vw;
      .close-popup{
        width: vwm(30px);
        height: vwm(30px);
        line-height: vwm(30px);
        font-size: vwm(20px);
        top: vwm(-33px);
        right: vwm(-3px);
      }
    }
  }
}

.wrapper{
  color: $color;
  .inner{
    width: vw(1040px);
    margin: auto;
    display: block;
  }
  .img {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .formInfo{
    font-size: vw(16px);
    input{
      background: #b7b7b7;
      border: none;
      outline: none;
      height: vw(40px);
      padding-left: vw(40px);
      margin-bottom: vw(10px);
      width: 100%;
      font-size: vw(16px);
    }
    .getHelp{
      outline: none;
      color: #ffffff;
      font-size: vw(24px);
      text-transform: uppercase;
      font-weight: 700;
      height: vw(50px);
      line-height: vw(50px);
      text-align: center;
      width: 100%;
      border: none;
      border-radius: vw(30px);
      margin: vw(10px) 0 0 0;
      background: #ff0061;
      background-image: linear-gradient(to right, #ff0005 , #ff0061);
    }
  }
  header{
    height: vw(576px);
    object-fit: contain;
    position: relative;
    .time-box{
      position: absolute;
      left: 50%;
      margin-left: vw(-302px);
      top: vw(29px);
      height: vw(266px);
      background: rgba(255, 255, 255, 0.41);
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: vw(10px);
      .text1{
        font-size: vw(38px);
        color: #fff100;
        -webkit-text-fill-color: #fff100; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: vw(2px);
        -webkit-text-stroke-color: #006838;
      }
      .text2{
        font-size: vw(18px);
        color: #009345;
      }
      .contain{
        width: 100%;
        padding: 0 vw(10px);
        height: vw(126px);
        margin: vw(7px) auto vw(10px);
      }
    }
    .btn-fix{
      display: none;
    }
    #slider1{
      height: 100%;
      .slick-list, .slick-track{
        height: 100%;
        width: 100%;
      }
      .slick-slide{
        width: 100%;
        &>div{
          width: 100%;
          height: 100%;
          &>div{
            width: 100%;
            height: 100%;
          }
        }
      }
      .slick-arrow{
        background: url("../images/arrow1.png") no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: vw(29px);
        height: vw(48px);
        font-size: 0;
        z-index: 3;
        position: absolute;
        top: 50%;
        margin-top: vw(-24px);
        &.slick-prev{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          left: vw(440px);
        }
        &.slick-next{
          right: vw(440px);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }
    @media (max-width: 768px) {
      height: 45vw;
      .time-box{
        height: 20vw;
        width: 46vw;
        margin-left: -23vw;
        .text1{
          font-size: 3vw;
        }
        .text2{
          font-size: 2vw;
        }
        .contain{
          height: 9vw;
        }
      }
      #slider1{
        .slick-arrow{
          width: 4.5vw;
          height: 6.6vw;
          margin-top: -3.3vw;
          &.slick-prev{
            left: 12vw;
          }
          &.slick-next{
            right: 12vw;
          }
        }
      }
    }
    @media (max-width: 480px) {
      height: 60vw;
      .time-box{
        height: 28vw;
        width: 70vw;
        margin-left: -35vw;
        .text1{
          font-size: 5vw;
        }
        .text2{
          font-size: 3vw;
        }
        .contain{
          height: 14vw;
        }
      }
      #slider1{
        .slick-arrow{
          width: 5.5vw;
          height: 7vw;
          margin-top: -3.5vw;
          &.slick-prev{
            left: 1vw;
          }
          &.slick-next{
            right: 1vw;
          }
        }
      }
    }
  }

  .body{
    .captain{
      text-transform: uppercase;
      font-size: vw(23px);
      font-weight: bold;
      width: vw(1040px);
      margin: auto;
      position: relative;
      text-align: center;
      &.captain2{
        &:before, &:after{
          content: '';
          display: block;
          width: vw(286px);
          height: vw(2px);
          background: #ffffff;
          position: absolute;
          top: 50%;
          margin-top: vw(-1px);
        }
        &:before{
          left: 0;
        }
        &:after{
          right: 0;
        }
      }
      &.captain3{
        margin-top: vw(40px);
        padding-bottom: vw(10px);
        text-align: left;
        border-bottom: 1px solid #1c9c58;
        color: #000000;
      }
      &.captain4{
        &:before, &:after{
          width: vw(460px);
        }
      }
      @media(max-width: 1040px) {
        font-size: vwm(22px);
        width: 90%;
      }
      @media(max-width: 768px) {
        font-size: 3vw;
      }
      @media(max-width: 480px) {
        font-size: 4vw;
        &:before, &:after{
          display: none !important;
        }
      }
    }
    .play-btn{
      background: url("../images/btn-play.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      width: vw(67px);
      height: vw(66px);
      display: block;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin:  vw(-33px) 0 0 vw(-33px);
      @media(max-width: 1040px) {
        width: vwm(74px);
        height: vwm(73px);
        margin: vwm(-37px) 0 0 vwm(-37px);
      }
      @media(max-width: 480px) {
        width: 12vw;
        height: 12vw;
        margin: -6vw 0 0 -6vw;
      }
    }
    .block1{
      background: url("../images/bg2.jpg") center top no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      width: 100%;
      height: vw(727px);
      padding-top: vw(42px);
      text-align: center;
      .captain{
        color: #000000;
      }
      .videos{
        background: url("../images/img1.jpg") no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: vw(852px);
        height: vw(510px);
        margin: vw(24px) auto 0;
        position: relative;
      }
      @media(max-width: 1040px) {
        height: vwm(480px);
        .videos{
          width: 54%;
          height: 74%;
        }
      }
      @media(max-width: 768px) {
        height: 56vw;
        .videos{
          width: 70vw;
          height: 42vw;
        }
      }
      @media(max-width: 480px) {
        height: 70vw;
        .videos{
          width: 90%;
          height: 54vw;
        }
      }
    }
    .block2{
      background: #00a84a;
      text-align: center;
      padding: vw(43px) 0 vw(20px) 0;
      overflow: hidden;
      .captain2{
        color: #ffffff;
      }
      .flipster{
        width: vw(1040px);
        margin: vw(29px) auto vw(41px);
        .flip-items{
          margin-bottom: vw(10px);
          .flip-item{
            //width: vw(537px);
          }
          .flip-content{
            .img{
              //width: vw(537px);
              //height: vw(338px);
              margin: auto;
            }
            .text{
              text-align: center;
              color: #ffffff;
              margin-top: vw(17px);
              padding: 0 vw(50px);
              .title{
                font-size: vw(23px);
                font-weight: bold;
                text-transform: uppercase;
              }
              .des{
                font-size: vw(17px);
              }
            }
          }
        }
        .flip-nav-item{
          display: inline-block;
          margin: 0 5px;
          .flip-nav-item-link{
            font-size: 0;
            background: #fff;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            &.flip-nav-current{
              opacity: 0.3;
            }
          }
        }
      }
      .box-like-share{
        width: 139px;
        height:30px;
        display: block;
        margin: auto;
      }
      @media(max-width: 1040px) {
        .captain2{
          &:before, &:after{
            width: 24%;
          }
        }
        .flipster{
          .flip-items {
            .flip-content {
              .text {
                .title {
                  font-size: vwm(25px);
                }
                .des {
                  font-size: vwm(20px);
                }
              }
            }
          }
        }
      }
      @media(max-width: 768px) {
        .captain2{
          &:before, &:after{
            width: 16%;
          }
        }
        .flipster{
          width: 70vw;
          margin: 2vw auto;
          .flip-items {
            .flip-content {
              .text {
                .title {
                  font-size: 3vw;
                }
                .des {
                  font-size: 2.5vw;
                }
              }
            }
          }
        }
      }
      @media(max-width: 480px) {
        .flipster{
          width: 90%;
          margin: 3vw auto;
          .flip-items {
            margin-bottom: 0.5vw;
            .flip-content {
              .text {
                .title {
                  font-size: 4vw;
                }
                .des {
                  font-size: 3.5vw;
                }
              }
            }
          }
        }
      }
    }
    .block3{
      background: #e8e7e5;
      padding: vw(30px) 0 vw(50px) 0;
      color: #000000;
      font-size: vw(18px);
      .captain{
        color: #009345;
        &.captain3{
          color: #000000;
        }
      }
      #slider2{
        width: vw(1040px);
        margin: vw(30px) auto 0;
        overflow: hidden;
        .slide{
          width: vw(810px) !important;
          margin: auto;
          display: flex !important;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          img{
            height: 100%;
            width: vw(330px);
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
          }
          .text{
            position: relative;
            text-align: justify;
            width: vw(425px);
            height: max-content;
            padding: vw(25px);
            .quote{
              display: inline-block;
              width: vw(20px);
              img{
                margin-bottom: vw(-30px);
                width: 100%;
                height: auto;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
              }
            }
            &:before{
              content: '';
              display: block;
              background: url("../images/icon-quotation.png") 0 0 no-repeat;
              width: vw(20px);
              height: vw(18px);
              background-size: contain;
              position: absolute;
            }
            &:before{
              top: 0;
              left: 0;
            }
          }
        }
        .slick-arrow{
          background: url("../images/next-arrow.jpg") no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          width: 23px;
          height: 24px;
          position: absolute;
          top: 0;
          margin-top: 0;
          border-radius: 100%;
          &.slick-prev{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
            left: 0;
          }
          &.slick-next{
            left: 30px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
          }
        }
      }
      .slider-nav{
        width: vw(1040px);
        margin: 0 auto;
        .slick-list{
          padding: 0 !important;
        }
        .slick-track{
          width: 100% !important;
        }
        .slick-slide{
          outline: none;
          width: 33.333% !important;
          padding: vw(15px) 0;
          &:hover{
            cursor: pointer;
          }
        }
        .nav{
          display: flex !important;
          -webkit-align-items: center;
          align-items: center;
          img{
            margin-right: vw(10px);
            width: vw(136px);
            height: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
          }
          .name{
            text-transform: capitalize;
            font-size: vw(14px);
            span{
              display: block;
              width: 100%;
              text-transform: uppercase;
            }
          }
        }
      }
      @media(max-width: 1040px) {
        #slider2{
          width: 90%;
          .slide{
            width: auto !important;
            img{
              height: 100%;
              width: 35%;
            }
            .text{
              font-size: 2vw;
              width: 63%;
            }
          }
        }
        .slider-nav{
          width: 90%;
          .slick-slide{

          }
          .nav{
            img{
              width: vwm(120px);
            }
            .name{
              font-size: 1.5vw;
            }
          }
        }
      }
      @media(max-width: 768px) {
        #slider2{
          .slide{
            img{
              width: 37%;
            }
            .text{
              font-size: 2.5vw;
            }
          }
        }
        .slider-nav{
          .slick-slide{
            width: 49% !important;
          }
          .nav{
            img{
              width: 14vw;
            }
            .name{
              font-size: 2.5vw;
            }
          }
        }
      }
      @media(max-width: 480px) {
        #slider2{
          .slide{
            img{
              width: 50%;
              margin: auto;
            }
            .text{
              font-size: 3.5vw;
              width: 100%;
              margin-top: 4vw;
            }
          }
        }
        .slider-nav{
          .slick-slide{
            width: 90%!important;
            margin: 2vw auto 0;
          }
          .nav{
            img{
              width: 20vw;
            }
            .name{
              font-size: 3.5vw;
              margin-left: 2vw;
            }
          }
        }
      }
    }
    .block4{
      background: #000000;
      padding: vw(50px) 0 vw(100px) 0;
      .captain{
        color: #ffffff;
        margin-bottom: vw(30px);
      }
      .inner{
        @extend %disFlex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        .item{
          width: 31%;
          margin-bottom: vw(20px);
          .img{
            width: 100%;
            height: vw(218px);
            -webkit-background-size: cover !important;
            background-size: cover !important;
          }
          .name{
            color: #ffffff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: vw(18px);
            width: 100%;
            margin-top: vw(10px);
            text-align: center;
          }
        }
      }
      @media(max-width: 1040px) {
        .captain{
          &:before, &:after{
            width: 44%;
          }
        }
        .inner{
          width: 90%;
          .item{
            .img{
              height: vwm(200px);
            }
            .name{
              font-size: 1.8vw;
            }
          }
        }
      }
      @media(max-width: 768px) {
        .inner{
          .item{
            width: 48%;
            margin-bottom: 3vw;
            .img{
              height: 28vw;
            }
            .name{
              font-size: 2.8vw;
            }
          }
        }
      }
      @media(max-width: 480px) {
        .inner{
          .item{
            width: 100%;
            margin-bottom: 5vw;
            .img{
              height: 59vw;
            }
            .name{
              font-size: 4vw;
            }
          }
        }
      }
    }
    .block5{
      color: #ffffff;
      font-size: vw(20px);
      font-weight: bold;
      background: url("../images/bg3.jpg") center top no-repeat;
      width: 100%;
      height: vw(398px);
      padding: vw(60px) 0 0 vw(130px);
      p{
        margin: 0 0 vw(20px) 0;
      }
      yellow{
        color: #fff100;
        font-size: vw(24px);
      }
      .indent{
        text-align: right;
        width: 100%;
        display: block;
        padding-right: vw(200px);
      }
      .box-like-share{
        width: 141px;
        height: 31px;
        margin: vw(20px) auto 0;
        display: block;
      }
      .list-style{
        text-indent: vw(30px);
        &:before{
          content: '';
          width: vw(10px);
          height: vw(10px);
          background: #ffffff;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          display: inline-block;
          margin-right: vw(10px);
        }
      }
      @media(max-width: 1040px) {
        font-size: 1.8vw;
        height: 34vw;
        padding: 3vw 0 0 0;
        .inner{
          width: 90%;
          yellow{
            font-size: 2.5vw;
          }

        }
      }
      @media(max-width: 768px) {
        font-size: 2.8vw;
        height: 50vw;
        .indent{
          padding: 0;
        }
        .list-style{
          &:before{
            width: vwm(10px);
            height: vwm(10px);
          }
        }
        .inner{
          yellow{
            font-size: 3.5vw;
          }

        }
      }
    }
    .block6{
      background: url("../images/bg2.jpg") center top no-repeat;
      height: vw(650px);
      -webkit-background-size:cover;
      background-size:cover;
      padding-top: vw(40px);
      .captain{
        color: #006838;
        margin-bottom: vw(20px);
      }
      .contain{
        margin: auto;
        width: vw(860px);
        height: vw(480px);
        iframe{
          width: 100%;
          height: 100%;
        }
        .cover{
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.43);
          .name{
            font-size: vw(23px);
            color: #88c76d;
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #000;
            padding: vw(5px) 0;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
          }
        }
      }
      @media(max-width: 1040px) {
        height: vwm(480px);
        .contain{
          width: 54%;
          height: 74%;
          .cover{
            .name{
              font-size: 2.2vw;
            }
          }
        }
      }
      @media(max-width: 768px) {
        height: 56vw;
        .contain{
          width: 70vw;
          height: 42vw;
          .cover{
            .name{
              font-size: 3.2vw;
            }
          }
        }
      }
      @media(max-width: 480px) {
        height: 70vw;
        .contain{
          width: 90%;
          height: 54vw;
          .cover{
            .name{
              font-size: 4.2vw;
            }
          }
        }
      }
    }
    .block7{
      background: url(../images/bg2.jpg) center top no-repeat, #649b7d;
      background-size: cover;
      .captain{
        color: #ffffff;
        margin-bottom: vw(40px);
      }
      .inner{
        width: 100%;
        height: 100%;
        padding: vw(40px) 0 vw(80px) 0;
        background: rgba(20, 103, 57, 0.66);
      }
      #slider3{
        width: vw(1040px);
        margin: auto;
        .slick-slide {
          padding: 0 vw(14px);
          .slide{
            overflow: hidden;
            cursor: pointer;
            margin: auto;
            padding: vw(5px);
            background: #d9eaea;
            color: #009345;
            font-size: vw(14px);
            .title{
              outline: none;
              text-transform: uppercase;
              color: #009345;
              display: block;
              min-height: vw(60px);
            }
            .text{
              padding: vw(10px);
              text-align: justify;
              .summary{
                margin-top: vw(20px);
                border-top: thin dashed;
                padding-top: vw(10px);
              }
            }
            .img{
              width: 100%;
              height: vw(195px);
              -webkit-background-size: cover !important;
              background-size: cover !important;
            }

          }
        }
        .slick-dots{
          bottom: vw(-50px);
          li {
            &.slick-active{
              opacity: 0.3;
            }
            button {
              width: 10px;
              height: 10px;
              background: #fff;
              border-radius: 100%;
            }
          }
        }
      }
      @media(max-width: 1039px) {
        .inner{
          padding-bottom: vwm(120px);
        }
        #slider3{
          .slick-slide{
            .slide{
              padding: vwm(5px);
              font-size: 1.5vw;
              .title{
                min-height: 6.5vw;
              }
              .img{
                height: 16vw;
              }
            }
          }
          .slick-dots{
            bottom: vwm(-50px);
          }
        }
      }
      @media(max-width: 768px) {
        #slider3{
          width: 90%;
          .slick-slide{
            .slide{
              padding: 1vw;
              font-size: 2vw;
              .title{
                min-height: 8vw;
              }
              .img{
                height: 27vw;
              }
            }
          }
        }
      }
      @media(max-width: 599px) {
        #slider3{
          .slick-slide{
            .slide{
              padding: 2vw;
              font-size: 3vw;
              .title{
                min-height: 10vw;
              }
              .img{
                height: 55vw;
              }
            }
          }
          .slick-dots {
            bottom: -7vw;
          }
        }
      }
      @media(max-width: 480px) {
        #slider3{
          .slick-slide{
            .slide{
              font-size: 4vw;
              .title{
                min-height: 20vw;
              }
              .img{
                height: 53vw;
              }
            }
          }
          .slick-dots {
            bottom: -10vw;
          }
        }
      }
    }
    .block8{
      background: url("../images/bg4.jpg") center top no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      width: 100%;
      height: vw(401px);
      padding-top: vw(70px);
      font-size: vw(20px);
      font-weight: bold;
      color: #fff100;
      text-transform: uppercase;
      text-align: center;
      -webkit-text-fill-color: #fff100; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: vw(2px);
      -webkit-text-stroke-color: #006838;
      white{
        font-size: vw(35px);
        color: #ffffff;
        -webkit-text-fill-color: #ffffff; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: vw(2px);
        -webkit-text-stroke-color: #006838;
      }
      .big{
        font-size: vw(25px);
      }
      @media(max-width: 1040px) {
        font-size: 2vw;
        height: 29vw;
        .inner{
          width: 90%;
        }
        white{
          font-size: 3.5vw;
        }
        .big{
          font-size:2.5vw;
        }
      }
      @media(max-width: 768px) {
        font-size: 2.7vw;
        height: 40vw;
        white{
          font-size: 4.5vw;
        }
        .big{
          font-size: 3.3vw;
        }
      }
      @media(max-width: 480px) {
        font-size: 4.5vw;
        height: 80vw;
        white{
          font-size: 6.5vw;
        }
        .big{
          font-size: 5vw;
        }
      }
    }
    .final{
      background: url(../images/bg5.jpg) center top no-repeat, #e8e7e5;
      -webkit-background-size: 100%;
      background-size: 100%;
      min-height: vw(1306px);
      padding-bottom: vw(40px);
      .block9{
          background: rgba(0, 0, 0, 0.39);
          padding: vw(30px) 0 vw(30px) 0;
          color: #ffffff;
          .inner{
            @extend %disFlex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            &>div{
              width: 48%;
              position: relative;
              &.right{
                height: vw(395px);
              }
              iframe{
                width: 100%;
                height: 100%;
              }
              .cover{
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.43);
                .name{
                  font-size: vw(23px);
                  color: #88c76d;
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  background: #000;
                  padding: vw(5px) 0;
                  text-transform: uppercase;
                  font-weight: bold;
                  text-align: center;
                }
              }
            }
          }
          .left{
            font-size: vw(15px);
            .note{
              margin: vw(10px) 0;
              width: 100%;
            }
            .title{
              text-transform: uppercase;
              font-weight: bold;
              font-size: vw(18px);
            }
            .getInfo{
              @extend %disFlex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              -webkit-flex-flow: row wrap;
              flex-flow: row wrap;
              input{
                width: 48%;
                height: vw(36px);
                background: rgba(255, 255, 255, 0.41);
                border: none;
                outline: none;
                margin-bottom: vw(10px);
                padding-left: vw(20px);
                &[name=phone]{
                  width: 100%;
                }
              }
              textarea{
                width: 100%;
                height: vw(87px);
                padding: vw(20px);
              }
              .getHelp{
                background: #ec1c24;
                height: vw(40px);
                width: vw(200px);
                line-height: vw(40px);
                text-transform: uppercase;
                text-align: center;
                border: none;
                color: #fff;
                font-weight: bold;
                font-size: vw(18px);
                margin: vw(20px) auto 0;
              }
              .btn-group{
                width: 100%;
                @extend %disFlex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                input{
                  width: 24%;
                  background: #34b34b;
                  position: relative;
                  &:before{
                    display: block;
                    color: #ffffff;
                    font-size: vw(13px);
                    line-height: vw(36px);
                    font-weight: bold;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
                  &[value=v0]{
                    &:before{
                      content: 'VIÊM GAN VIRUS';
                    }
                  }
                  &[value=v1]{
                    &:before{
                      content: 'XƠ GAN';
                    }
                  }
                  &[value=v2]{
                    &:before{
                      content: 'MEN GAN CAO';
                    }
                  }
                  &[value=v3]{
                    &:before{
                      content: 'KHÁC';
                    }
                  }
                }
              }
            }
          }
        @media(max-width: 1040px) {
          .inner{
            width: 90%;
            &>div{
              &.right{
                height: 38.6vw;
              }
              .cover{
                .name{
                  font-size: 2.2vw;
                }
              }
            }
          }
          .left{
            font-size: 1.5vw;
            .title{
              font-size: 2vw;
            }
            .getInfo {
              input {
                height: 3.5vw;
                line-height: 3.5vw;
              }
              textarea{
                height: 6vw;
              }
              .getHelp{
                height: 3.5vw;
                line-height: 3.5vw;
                font-size: 1.7vw;
                width: auto;
                padding: 0 vwm(10px);
              }
              .btn-group{
                input{
                  width: 45%;
                  &:before{
                    font-size: 1.6vw;
                    line-height: 3.5vw;
                  }
                }
              }
            }
          }
        }
        @media(max-width: 768px) {
          .inner{
            &>div{
              width: 100%;
              &.left{
                font-size: 2.5vw;
                margin-bottom: 4vw;
                .title{
                  font-size: 3.5vw;
                }
                .getInfo {
                  input {
                    height: 5.5vw;
                    margin-bottom: 2vw;
                  }
                  textarea{
                    height: 10vw;
                  }
                  .getHelp{
                    height: 8.5vw;
                    line-height: 8.5vw;
                    font-size: 3.7vw;
                    padding: 0 2vw;
                  }
                  .btn-group{
                    input{
                      width: 45%;
                      &:before{
                        font-size: 2.6vw;
                        line-height: 5.5vw;
                      }
                    }
                  }
                }
              }
              &.right{
                height: 66vw;
              }
              .cover{
                .name{
                  font-size: 4vw;
                }
              }
            }
          }
        }
        @media(max-width: 480px) {
          .inner{
            &>div{
              &.left{
                font-size: 3.5vw;
                margin-bottom: 4vw;
                .note{
                  margin: 2vw 0;
                }
                .title{
                  font-size: 4.5vw;
                }
                .getInfo {
                  input {
                    height: 8.5vw;
                  }
                  textarea{
                    height: 15vw;
                  }
                  .getHelp{
                    height: 10vw;
                    line-height: 10vw;
                    font-size: 5vw;
                    padding: 0 3vw;
                  }
                  .btn-group{
                    input{
                      &:before{
                        font-size: 4vw;
                        line-height: 8.5vw;
                      }
                    }
                  }
                }
              }
              &.right{
                height: 66vw;
              }
              .cover{
                .name{
                  font-size: 4vw;
                }
              }
            }
          }
        }
      }
      .block10{
      @extend %disFlex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
        width: vw(1040px);
        margin: vw(40px) auto 0;
        border: thin solid #34b34b;
        background: rgba(255, 255, 255, 0.42);
        font-size: vw(18px);
        padding: vw(10px);
        text-align: justify;
        &>div {
          width: 48%;
          position: relative;
          &.left{
            .sympol{
              width: vw(230px);
              margin: vw(40px) auto 0;
            }
          }
          &.right {
            .rows{
              width: 100%;
              span{
                display: inline-block;
                vertical-align: text-top;
              }
              p{
                width: 100%;
                display: block;
              }
              &:nth-child(1){
                .icon{
                  width: vw(64px);
                  margin-left: vw(10px);
                }
              }
              &:nth-child(2){
                margin-top: vw(20px);
                .icon{
                  margin-left: vw(29px);
                  width: vw(73px);
                }
              }
              &:nth-child(3){
                @extend %disFlex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                margin-top: vw(20px);
                .icon{
                  width: vw(45px);
                  margin: 0 vw(70px) vw(20px) 0;
                }
              }
            }
          }
        }
        @media(max-width: 1040px) {
          width: 90%;
          font-size: 1.8vw;
          padding: vwm(10px);
          &>div{
            &.left{
              .sympol{
                width: 20vw;
              }
            }
            &.right {
              .rows{
                &:nth-child(1){
                  .icon{
                    width: 6vw;
                    margin-left: vwm(10px);
                  }
                }
                &:nth-child(2){
                  margin-top: vwm(20px);
                  .icon{
                    margin-left: vwm(29px);
                    width: 7vw;
                  }
                }
                &:nth-child(3){
                  margin-top: vwm(20px);
                  .icon{
                    width: vwm(45px);
                    margin: 0 vwm(60px) vwm(20px) 0;
                  }
                }
              }
            }
          }
        }
        @media(max-width: 768px) {
          font-size: 2.8vw;
          padding: vwm(20px);
          &>div{
            width: 100%;
            &.left{
              margin-bottom: 4vw;
              .sympol{
                width: 50%;
              }
            }
            &.right {
              .rows{
                &:nth-child(1){
                  .icon{
                    width: 10vw;
                  }
                }
                &:nth-child(2){
                  .icon{
                    width: 13vw;
                  }
                }
                &:nth-child(3){
                  margin-top: 3vw;
                  .icon{
                    width: 12vw;
                    margin: 0 6vw 3vw 0;
                  }
                }
              }
            }
          }
        }
        @media(max-width: 480px) {
          font-size: 3.8vw;
        }
      }
      .block11{
        margin: vw(20px) auto 0;
        width: vw(1040px);
        @extend %disFlex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        &>div{
          width: 48%;
          position: relative;
          &.right{
            height: vw(330px);
          }
          iframe{
            width: 100%;
            height: 100%;
          }
          .cover{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.43);
            .name{
              font-size: vw(23px);
              color: #88c76d;
              position: absolute;
              bottom: 0;
              width: 100%;
              background: #000;
              padding: vw(5px) 0;
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
            }
          }
        }
        @media(max-width: 1040px) {
          width: 90%;
          &>div{
            &.right{
              height: auto;
            }
          }
        }
        @media(max-width: 768px) {
          margin-top: 4vw;
          &>div{
            width: 100%;
            &.right{
              height: 66vw;
              margin-top: 2vw;
            }
            .cover{
              .name {
                font-size: 4vw;
              }
            }
          }
        }
      }
    }
    .menu1{
      background: #3bb44a;
      min-height: vw(80px);
      ul{
        width: vw(1040px);
        min-height: vw(80px);
        margin: auto;
        @extend %disFlex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
        li{
          width: 20%;
          height: vw(46px);
          border-right: thin solid #fff;
          &:last-child{
            border: none;
          }
          a{
            display: block;
            margin: auto;
            width: vw(45px);
          }
        }
      }
      @media(max-width: 1040px) {
        ul{
          width: 90%;
          height: 6vw;
          li{
            height: 70%;
            a{
              height: 100%;
              img{
                height: 100%;
                width: auto;
              }
            }
          }
        }
      }
      @media(max-width: 480px) {
        ul{
          height: 12vw;
          li{
            a{
              width: 50%;
            }
          }
        }
      }
    }
  }

  footer {
    background: #fff;
    color: #000;
    font-size: vw(18px);
    padding: vw(20px) 0;
    border-bottom: thin solid #b3b3b6;
    a{
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      &:hover{
        color: $hoverColor;
      }
      &.link{
        -webkit-background-size: 10%;
        background-size: 10%;
        padding-left: 40px;
        height: 32px;
        display: block;
        line-height: 32px;
      }
      &.link1{background:url("../images/icon1.png") 0 center no-repeat;}
      &.link2{background:url("../images/icon2.png") 0 center no-repeat;}
      &.link3{background:url("../images/icon4.png") 0 center no-repeat;}
      &.link4{background:url("../images/icon5.png") 0 center no-repeat;}
      &.link5{background:url("../images/icon6.png") 0 center no-repeat;}
      &.link6{background:url("../images/icon7.png") 0 center no-repeat;}
    }
    .inner{
      @extend %disFlex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      &>div{
        width: 33%;
        .logo{
          display: block;
          width: vw(158px);
          a{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        ul{
          li{
            display: block;
            margin-bottom: vw(10px);
          }
        }
      }
    }
    @media(max-width: 1040px) {
      font-size: 1.5vw;
      .inner{
        width: 90%;
        &>div{
          .logo{
            width: 14vw;
          }
        }
      }
    }
    @media(max-width: 600px) {
      font-size: 2.5vw;
      .inner{
        &>div{
          width: 50%;
          &.left{
            width: 100%;
            margin: 3vw 0;
          }
          .logo{
            width: 20vw;
            margin: auto;
          }
        }
      }
    }
  }
  .line-bottom{
    text-transform: uppercase;
    color: #000;
    background: #e6e7e8;
    font-size: vw(14px);
    font-weight: 700;
    text-align: center;
    padding: vw(20px) 0;
    @media(max-width: 1040px) {
      font-size: 1.5vw;
    }
    @media(max-width: 600px) {
      font-size: 2vw;
    }
  }
}
.flip-clock-wrapper{
  margin: 0;
  .flip-clock-divider{
    height: auto;
    width: max-content;
    position: absolute;
    bottom: vw(-30px);
    float: none;
   span{
     position: relative;
     right: inherit;
   }

    &.days{
      left: vw(35px);
    }
    &.hours{
      left: vw(193px);
    }
    &.minutes{
      left: vw(330px);
    }
    &.seconds{
      right: vw(20px);
    }
    .flip-clock-label{
      top: 0;
      right: inherit;
      color: #009345;
      font-size: vw(18px);
      text-transform: uppercase;
      font-weight: bold;
    }
    .flip-clock-dot{
      display: none;
    }
  }
  .flip{
    margin: 0 vw(2px);
    width: vw(60px);
    height: vw(90px);
    -webkit-border-radius: vw(6px);
    -moz-border-radius: vw(6px);
    border-radius: vw(6px);
    box-shadow: 0 vw(2px) vw(5px) rgba(0,0,0,.7);
    li{
      line-height: vw(87px);
      a{
        perspective: vw(200px);
        div{
          font-size: vw(56px);
          outline: vw(1px) solid transparent;
          &.inn{
            font-size: vw(56px);
            -webkit-border-radius: vw(6px);
            -moz-border-radius: vw(6px);
            border-radius: vw(6px);
            text-shadow: 0 vw(1px) vw(2px) #000;
          }
          &.up{
            .inn{
              background: #009345;
            }
          }
          &.down{
            border-bottom-left-radius: vw(6px);
            border-bottom-right-radius: vw(6px);
            .inn{
              background: #008045;
            }
          }
        }
      }
    }
    &:nth-child(3),&:nth-child(6), &:nth-child(9){
      margin-right: vw(20px);
    }
    &:last-child{
      margin-right: 0;
    }
  }
  @media(max-width: 768px) {
  .flip-clock-divider{
    bottom: -2.3vw;
    &.days{
      left: 2.5vw;
    }
    &.hours{
      left: 15vw;
    }
    &.minutes{
      left: 25.5vw;
    }
    &.seconds{
      right: 1.4vw;
    }
    .flip-clock-label{
      font-size: vwm(16px);
    }
  }
  .flip{
    margin: 0 vwm(3px);
    width: 4.5vw;
    height: 6vw;
    box-shadow: none;
    li{
      line-height: 6vw;
      a{
        div{
          &.inn{
            font-size:4vw;
          }
        }
      }
    }
    &:nth-child(3),&:nth-child(6), &:nth-child(9){
      margin-right: vwm(15px);
    }
  }
}
  @media(max-width: 480px) {
    .flip-clock-divider{
      bottom: -3.3vw;
      &.days{
        left: 3.5vw;
      }
      &.hours{
        left: 23vw;
      }
      &.minutes{
        left: 39.5vw;
      }
      &.seconds{
        right: 2.4vw;
      }
      .flip-clock-label{
        font-size: 2.5vw;
      }
    }
    .flip{
      margin: 0.3vw;
      width: 7.5vw;
      height: 10vw;
      li{
        line-height: 10vw;
        a{
          div{
            &.inn{
              font-size: 7vw;
            }
          }
        }
      }
      &:nth-child(3),&:nth-child(6), &:nth-child(9){
        margin-right: vwm(15px);
      }
    }
  }
}